@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary-bg: #121826;
  --color-primary-text: #e5e7eb;
  --color-accent: #ffd27d;

  --font-family-sans: 'Nunito Sans', system-ui, sans-serif;
}

@layer base {
  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: #121826;
    color: #e5e7eb;
    font-family: 'Nunito Sans', system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
